.products_overview {
  display: flex;
  color: black;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.h1 {
  margin-top: 40px;
  width: 20em;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  background: #e5e5e5;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  padding-bottom: 60px;

  & div {
    flex-basis: 14rem;
    background-color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
  }
}

.h3,
.p {
  color: black;
  text-align: center;
}
